<h3>COMPONENT A</h3>
<p>demonstration of how data is transfered to  <span class="highlighted">COMPONENT C</span> while navigating to it.
  <br> In this case we are navigating to the <span class="highlighted">COMPONENT C</span> and trasnfereing following data to <span class="highlighted">COMPONENT C</span>.
  <br> We are supplying the data using <span class="highlighted">DATA SERVICE</span> and not as router parameter
  <br> With this approach we dont need to extract information from routing operation in constructor of destination component.
  <br> Instead we can extract in ngOnInit 
</p>
<p></p>
<form (ngSubmit)="navigate()" class="container">
    <div class="form-group mb-3">
      <label for="name">ID</label>
      <input type="text" id="ID" name="ID" [(ngModel)]="formData.id" class="form-control">
    </div>
  
    <div class="form-group mb-3">
      <label for="email">LABEL</label>
      <input type="email" id="LABEL" name="LABEL" [(ngModel)]="formData.label" class="form-control">
    </div>

    <div class="form-group mb-3">
        <label for="email">ROLE</label>
        <input type="email" id="ROLE" name="ROLE" [(ngModel)]="formData.role" class="form-control">
    </div>

    <div class="form-group mb-3">
        <label for="email">PID</label>
        <input type="email" id="PID" name="PID" [(ngModel)]="formData.pid" class="form-control">
    </div>

    <div class="form-group mb-3">
        <label for="email">GROUP ID</label>
        <input type="email" id="GID" name="GID" [(ngModel)]="formData.gid" class="form-control">
    </div>
  
    <button type="submit" class="btn btn-primary">GO TO COMPONENT C</button>
</form>

