p{
    padding-left: 40px;
    padding-top: 20px;
}

h3{
    padding-left: 40px;
    padding-top: 20px;
}

pre {
    padding-left: 80px;
    font-size:large;
}

.highlighted {
    background-color: orange; /* Set your desired background color for highlighting */
    font-weight: bold; /* Optionally, you can make the text bold for better visibility */
}